:root {
  --gray-color: #333333;
  --red-color: #d32923;
  --bg-color: #fafcff;
  --font-family: "Lato", sans-serif;
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: var(--font-family);
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pomodoro-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.pomodoro {
  color: var(--gray-color);
  font-size: 5rem;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.pomodoro-active {
  color: var(--red-color);
  transform: scale(1.3);
}

.clock {
  color: var(--gray-color);
  font-size: 280px;
  font-weight: 100;

  margin-top: 1rem;
}

.btn-container {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.btn {
  display: inline-block;
  color: var(--red-color);
  font-size: 2rem;
  border: 3px solid var(--red-color);
  border-radius: 1rem;
  background: none;
  width: 15rem;
  height: 5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bg-color);
  background-color: var(--red-color);
}

.hidden {
  display: none;
  visibility: hidden;
}

/* settings */
.container-left {
  background: var(--bg-color);
  position: absolute;
  top: 2rem;
  left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.btn-settings {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--gray-color);
}

.btn-settings:hover {
  color: var(--red-color);
  cursor: pointer;
}

.settings {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.submit {
  align-self: center;
  font-size: 1rem;
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  transition: transform 0.2s ease;
}

.submit:active {
  transform: translateY(0.2rem);
}
