:root {
  --gray-color: #333333;
  --red-color: #d32923;
  --bg-color: #fafcff;
  --font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pomodoro-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.pomodoro {
  color: var(--gray-color);
  font-size: 5rem;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.pomodoro:hover {
  color: var(--red-color);
  transform: scale(1.3);
}

.clock {
  color: var(--gray-color);
  font-size: 280px;
  font-weight: 100;
  font-family: var(--font-family);
  margin-top: 1rem;
}

.btn-container {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.btn {
  display: inline-block;
  color: var(--red-color);
  font-family: var(--font-family);
  font-size: 2rem;
  font-weight: bold;
  border: 3px solid var(--red-color);
  border-radius: 20px;
  background: none;
  width: 15rem;
  height: 5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bg-color);
  background-color: var(--red-color);
}

.hidden {
  display: none;
}
